/* Estilos para el encabezado */
header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para los detalles del plato */
#detalles {
    margin-top: 40px;
}

.plato {
    text-align: center;
}

.plato img {
    max-width: 250px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

select, input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #000000; /* Cambio de color de fondo al pasar el ratón */
}

a.button.primary {
    background-color: #000000; /* Color de fondo del botón primario */
}

a.button.secondary {
    background-color: #6c757d; /* Color de fondo del botón secundario */
}

#precio {
    font-weight: bold;
    margin-bottom: 20px;
}
header img {
    max-width: 100%;
    height: auto;
    width: 250px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}
@media only screen and (max-width: 600px) {
    /* Estilos para pantallas pequeñas */
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para pantallas medianas */
  }
  
  @media only screen and (min-width: 1025px) {
    /* Estilos para pantallas grandes */
  }